/* Navigation */

nav .navbar-nav li a {
    color: #856266 !important;
}

.mjnav {
    Font-Family: 'Quattrocento', Serif;
    color: #856266;
    background-color: transparent;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-brand {
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #856266;
}

/* Banner */

.bannerimg {
    height: 20rem;
    width: 100%;
    margin-bottom: 2%;
}

/* Parallax */

.section {
    padding: 50px 80px;
}

.section-terms {
    background-image: linear-gradient(to bottom right, #ffffff, #E5989B);
    color: #666;
    padding-bottom: 100px;
}

.section-testimonial {
    background-image: linear-gradient(to bottom right, #FFA585, #FFEDA0);
    color: #666;
    padding-bottom: 100px;
}

.about-section {
    background-image: linear-gradient(to bottom right, #CA806E, #5cc9f5);
    color: #666;
    padding-bottom: 100px;
}

.section-light {
    background-image: linear-gradient(to bottom right, #CA806E, #5cc9f5);
    background-color: #CA806E;
    color: #666;
    padding-bottom: 100px;
}

.section-dark {
    background-image: linear-gradient(to bottom right, #bb705b, #b2e5e7);
    /* background-color: #bb705b; */
    color: #ddd;
    padding-bottom: 120px;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimgtestimonial, .pimgterms {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../assets/tarotimg1.jpeg');
    min-height: 100%;
    opacity: 0.50;
}

.pimg2 {
    background-image: url('../assets/black-ball-point-pen-with-brown-spiral-notebook-733852.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('../assets/sony-ps4-wireless-controllers-on-white-surface-1367000.jpg');
    min-height: 400px;
}

/* .pimg4{
    background-image: url('../assets/tarotbannerimg.jpeg');
    min-height: 100%;
    opacity: 0.50;
} */

.pimgtestimonial {
    background-image: url('../assets/photo-of-person-holding-notebook-3363103.jpg');
    min-height: 400px;
}

.pimgterms {
    background-image: url('../assets/crystals.JPG');
    min-height: 400px;
}

.ptexttestimonial, .ptextterms {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #543d4e;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #856266;
}

.ptext .border {
    background-color: #bb705b;
    color: #f7f4e3;
    padding: 20px;
}

.bordertest {
    background-color: #ffffff;
    padding: 20px;
    opacity: 0.7;
}

.ptext .border.trans {
    background-color: transparent;
}

/* Main Body Tags */

body, html {
    height: 100%;
    margin: 0;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
    Font-Family: 'Quattrocento', Serif;
    Font-Size: 16px;
}

p {
    color: #f7f4e3;
    /* color: #172c66; */
}

h1, h2, h3 {
    Font-Family: 'Oswald', Sans-Serif;
    Font-Size: 48px;
    color: #ffffff;
}

/* Mobile Responsiveness */

@media(max-width:568px) {
    .pimg1, .pimg2, .pimg3, .pimgtestimonial, .pimgterms {
        background-attachment: scroll;
    }
    .ptext {
        font-size: 6px;
    }
    .navbar {
        background-color: #ffffff;
    }
    .wow {
        animation: none !important;
    }
    .aboutimg {
        width: 60% !important;
    }
    .ptext .border {
        background-color: #bb705b;
        color: #f7f4e3;
        padding: 5px;
    }
    .chakrame, FIGCAPTION {
        margin-left: 0em !important;
        text-align: justify !important;
    }
    .carousel {
        height: 350px !important;
        width: 300px !important;
        position: relative;
        padding-left: 10px;
    }
    .twitchimg {
        width: 300px;
    }
}

/* Formatting (HOME PAGE) */

.aboutimg {
    /* float: left; */
    width: 30%;
    height: auto;
    padding: 10px;
}

.chakrame {
    width: 70%;
    height: auto;
    padding: 10px;
    margin-left: 10em;
}

FIGCAPTION {
    font-style: italic;
    font-variant: small-caps;
    margin-left: 10em;
    text-align: right;
}

.sectiontwo {
    text-align: right;
}

.articleslide {
    float: right;
}

.img-fluid {
    height: 350px;
    width: 500px;
}

.slidetext {
    color: #f7f4e3;
}

.twitchimg {
    float: left;
    padding: 10px;
    /* width: 440px; */
    height: 240px;
}

/* Formatting TESTIMONIAL PAGE */

.testpage {
    color: #856266;
}

/* Footer */

.page-footer {
    background-color: #e8a094;
}

.footer-copyright {
    background-color: #d98789;
}

/* Transparent to Solid */

.navbareffect.solid {
    background-color: #ffffff;
    transition: background-color 4s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar-page {
    background-color: #ffffff;
}